
/* navbar */
.container .text-end a{
    text-decoration: none;
    color: white;
    margin: 5px;
}
/*card-container*/
.card-container{
  background-color: rgba(0, 0, 0, 0.894);
  background-size: cover;
  width: 100%;
  padding: 25px;
  color: #fff;
}
/*Back-to top*/
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }
#btn-back-to-top:hover {
  background-color: #000;
}

/* Img */
.row .col-10 .img-fluid {
  border-radius: 25px;
}

  /* meus projetos */
.card-container .card{
  border-radius: 25px;
  color: #000;
  margin: auto;
}
.card-container .card img{
  border-radius: 25px;
}
.card-container hr{
  margin: 10px auto;
  padding: 1px;
  background-color: #fff;
  border-radius: 25px;
  width: 250px;
}
.card-container:hover hr{
  width: 500px;
  transition: all 400ms ease-in-out;
}